.input-rounded {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
}

.input-rounded > label {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
}

.input-rounded > input {
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 2px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  background: var(--primary);
}
.input-rounded > input:focus {
  outline: 2px solid var(--ligth-blue);
}
.input-rounded > input::placeholder {
  color: #8c8686;
}
